@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #a9c9ff; */
  background-image: linear-gradient(180deg, #a9c9ff 0%, #dacbee 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}